# List Tasks

In [1]:
# 1 

list = ("banana", "orange", "pineapple", "banana", "banana", "apple")
element = "banana"
count = count_occurences(list, element)
print(count)

NameError: name 'count_occurences' is not defined

In [ ]:
#2

list = (2, 3, 4, 5, 6, 7, 8)
total_sum = sum(list)
print(total_sum)

35

In [ ]:
#3
list = (2, 3, 4, 5, 6, 7, 8)
max_num = max(list)
print(max_num)

8

In [ ]:
#4
list = (2, 3, 4, 5, 6, 7, 8)
min_num = min(list)
print(min_num)

2

In [ ]:
#5
list = (2, 3, 4, 5, 6, 7, 8)
element = 9
if element in list: print(True)
else: print(False)

False

In [ ]:
#6 
list = (2, 3, 4, 5, 6, 7, 8)
print(list[0])

2

In [ ]:
#7
list = (2, 3, 4, 5, 6, 7, 8)
print(list[-1])

8

In [ ]:
#8
list = (2, 3, 4, 5, 6, 7, 8)
print(list[0:3])

(2, 3, 4)

In [ ]:
#9
list = [2, 3, 4, 5, 6, 7, 8]
list.sort(reverse = True)
print(list)

[8, 7, 6, 5, 4, 3, 2]

In [ ]:
#10
list = [2, 3, 9,  4, 9, 3, 5, 6, 7, 8, 2,]
list.sort()
print(list)

[2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9]

In [ ]:
#11
list = [2, 3, 9,  4, 9, 3, 5, 6, 7, 8, 2,]
print(set(list))

{2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#12
list = [2, 3, 4, 5, 6, 7, 8]
list.insert(2, 99)
print(list)

[2, 3, 99, 4, 5, 6, 7, 8]

In [ ]:
#13
list = [10, 20, 30, 40, 20, 50]
a=30
print(list.index(a) if a in list else -1)

2

In [ ]:
#14
num = []
print(bool(num))

False

In [ ]:
#15
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
print(sum(1 for x in numbers if x%2!=0))

9

In [ ]:
#15&16
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
even = 0
odd = 0
for x in numbers: 
    if x%2 == 0:
        even += 1
    else:
        odd += 1
print(even)
print(odd)

6
9

In [ ]:
#17
num1 = [2, 3, 4, 5, 6, 7, 8]
num2 = (9, 10, 11, 13, 15, 17, 19)

new_list = num1 + list(num2)
print(new_list)

TypeError: 'list' object is not callable

In [ ]:
#18
num = [2, 3, 4, 5, 6, 7, 8]
sub_list = [3, 5, 7 ]
result = all(item in num for item in sub_list)
print(result)

True

In [ ]:
#19
num = [2, 3, 4, 5, 6, 7, 8]
a=4
b=20
if a in num:
    num[num.index(a)] = b
print(num)

[2, 3, 20, 5, 6, 7, 8]

In [ ]:
#20
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
numbers.sort()
print(numbers[-2]) if len(numbers) > 1 else 0

19

In [ ]:
#21
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
numbers.sort()
print(numbers[0])

2

In [ ]:
#22

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
print([num for num in numbers if num%2==0])

[2, 4, 6, 8, 10, 20]

In [ ]:
#23

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
print([num for num in numbers if num%2!=0])

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#24
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
length = len(numbers)
print(length)

15

In [ ]:
#25
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
num2 = numbers.copy()
print(num2)

In [ ]:
#26
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
a = len(numbers)
mid = a // 2
if a % 2 == 1: 
    print(numbers[mid])
else: print(numbers[mid - 1], [numbers[mid]])

9

In [ ]:
#27
num = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
sub_list = [3, 5, 7, 20, 6, 8]
print(max(sub_list))

20

In [ ]:
#28
num = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
sub_list = [3, 5, 7, 20, 6, 8]
print(min(sub_list))

3

In [ ]:
#29
num = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
del num[5]
print(num)

[2, 3, 4, 5, 6, 8, 9, 10, 11, 13, 15, 17, 19, 20]

In [ ]:
#30
num = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 20]
print(num==sorted(num))

True

In [ ]:
#31
fruits = ['apple', 'ananas', 'banana']
repeat = 4
print([num for num in fruits for _ in range(repeat)])

['apple', 'apple', 'apple', 'apple', 'ananas', 'ananas', 'ananas', 'ananas', 'banana', 'banana', 'banana', 'banana']

In [ ]:
#32
num1 = [2, 5, 7, 10, 11]
num2 = [3, 6, 8, 15]
num3 = num1 + num2
print(sorted(num3))

[2, 3, 5, 6, 7, 8, 10, 11, 15]

In [ ]:
#33
num1 = [2, 5, 2, 7, 10, 11, 2]
indices = []
for i in range(len(num1)):
    if num1[i] == 2:
        indices.append(i)
print(indices)

[0, 2, 6]

In [ ]:
#35

In [ ]:
#36

In [ ]:
#37

In [ ]:
#38

In [ ]:
#39

In [ ]:
#40

# Tupple Tasks

In [ ]:
def convert_cel_to_far(celcius: float) -> float:
    return round(celcius*9/5+32, 2)
def convert_far_to_cel(fahrenheit:float) ->float:
    return round((fahrenheit-32)*5/9, 2)
def main():
    fahrenheit = float(input("Enter a temperature in degrees Fahrenheit: "))
    celcius = convert_far_to_cel(fahrenheit)
    print(f"{fahrenheit} F = {celcius} degrees C")

    celcius = float(input("\nEnter a temperature in degrees Celcius: "))
    fahrenheit = convert_cel_to_far(celcius)
    print(f"{celcius} C = {fahrenheit} degrees F")
if __name__ == "__main__":
    main()

IndentationError: unexpected indent (3751478342.py, line 2)

In [ ]:
#2

In [ ]:
#3

In [ ]:
#4

In [ ]:
#5

In [ ]:
#6

In [ ]:
#7

In [ ]:
#8

In [ ]:
#9

In [ ]:
#10