In [9]:
import pandas as pd

In [ ]:
#1
import pandas as pd
iris_df = pd.read_json(r'C:\Users\user\Downloads\Python\pythonhomeworks\lesson-16\homework\iris.json')

print("Original column names:")
print(iris_df.columns.tolist())

iris_df.columns = iris_df.columns.str.lower()
print("\nColumn names after lowercase:")
print(iris_df.columns.tolist())
print("\nFirst few rows:")
print(iris_df.head())

Original column names:
['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species']

Column names after lowercase:
['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species']

First few rows:
   sepallength  sepalwidth  petallength  petalwidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [3]:
#2
import pandas as pd
titanic_df = pd.read_excel(r'C:\Users\user\Downloads\Python\pythonhomeworks\lesson-16\homework\titanic.xlsx')
over_30_df = titanic_df[titanic_df['Age'] > 30]
print("Passengers over 30:")
print(over_30_df.head())
gender_counts = titanic_df['Sex'].value_counts()
print("\nPassenger count by gender:")
print(gender_counts)
print()

Passengers over 30:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
4             5         0       3
6             7         0       1
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
4       0    373450   8.0500   NaN        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S

Passenger count by gender:
Sex
male      577
female    314
Name: count, dtype: int64

In [4]:
movie_df = pd.read_csv('movie.csv')
long_movies = movie_df[movie_df['duration'] > 120]
sorted_movies = long_movies.sort_values('director_facebook_likes', ascending=False)
columns_to_show = ['director_name', 'duration', 'director_facebook_likes', 'gross', 'genres']
sorted_movies_subset = sorted_movies[columns_to_show]

print("Movies over 120 minutes sorted by director Facebook likes:")
print(sorted_movies_subset.head())

Movies over 120 minutes sorted by director Facebook likes:
          director_name  duration  director_facebook_likes        gross  \
66    Christopher Nolan     152.0                  22000.0  533316061.0
3     Christopher Nolan     164.0                  22000.0  448130642.0
120   Christopher Nolan     128.0                  22000.0  205343774.0
1222  Christopher Nolan     130.0                  22000.0   53082743.0
97    Christopher Nolan     148.0                  22000.0  292568851.0

                                genres
66         Action|Crime|Drama|Thriller
3                      Action|Thriller
120                   Action|Adventure
1222     Drama|Mystery|Sci-Fi|Thriller
97    Action|Adventure|Sci-Fi|Thriller