In [16]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(r'C:\Users\user\Downloads\Python\pythonhomeworks\lesson-16\homework\chinook.db')

customers_df = pd.read_sql_query("SELECT * FROM customers", conn)

print("First 10 rows of customers table:")
print(customers_df.head(10))
conn.close()

First 10 rows of customers table:
   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4
   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4

In [17]:
#1.2
import pandas as pd
iris_df = pd.read_json(r'C:\Users\user\Downloads\Python\pythonhomeworks\lesson-16\homework\iris.json')
print("\nIris dataset shape:", iris_df.shape)
print("Iris column names:", iris_df.columns.tolist())

Iris dataset shape: (150, 5)
Iris column names: ['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species']

In [18]:
#1.3
titanic_df = pd.read_excel(r'C:\Users\user\Downloads\Python\pythonhomeworks\lesson-16\homework\titanic.xlsx')
print("\nFirst 5 rows of Titanic dataset:")
print(titanic_df.head())

First 5 rows of Titanic dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [19]:
#1.5
movie_df = pd.read_csv(r'C:\Users\user\Downloads\Python\pythonhomeworks\lesson-16\homework\movie.csv')
print("\nRandom sample of 10 rows from movie dataset:")
print(movie_df.sample(10))

Random sample of 10 rows from movie dataset:
      color     director_name  num_critic_for_reviews  duration  \
2754  Color       James Isaac                   205.0      85.0
1489  Color    Brian De Palma                   149.0     114.0
947   Color    Bennett Miller                   419.0     133.0
3769  Color       Hugh Wilson                    45.0      96.0
2590  Color        Shawn Levy                    69.0      88.0
234   Color      George Lucas                   284.0     142.0
1802  Color      Walter Murch                    56.0     109.0
2063  Color      Andy Fickman                   112.0     110.0
354   Color   Carlos Saldanha                   188.0      94.0
4428  Color  Douglas Trumbull                    87.0      89.0

      director_facebook_likes  actor_3_facebook_likes     actor_2_name  \
2754                     52.0                   489.0      Kane Hodder
1489                      0.0                   115.0      Gregg Henry
947                     152.0                 11000.0     Robin Wright
3769                     37.0                   542.0      Bubba Smith
2590                    189.0                   799.0    Donald Faison
234                       0.0                  4000.0  Christopher Lee
1802                    181.0                   137.0       Jean Marsh
2063                     99.0                   835.0    Kyra Sedgwick
354                     107.0                   117.0   Maile Flanagan
4428                    136.0                    42.0       Ron Rifkin

      actor_1_facebook_likes        gross  \
2754                  1000.0   12610731.0
1489                   548.0    6592103.0
947                  22000.0   75605492.0
3769                   801.0   81200000.0
2590                   934.0   47811275.0
234                  20000.0  310675583.0
1802                   303.0          NaN
2063                 12000.0   90636983.0
354                    835.0  196573705.0
4428                   844.0          NaN

                                        genres  ... num_user_for_reviews  \
2754             Action|Horror|Sci-Fi|Thriller  ...                673.0
1489              Crime|Drama|Mystery|Thriller  ...                232.0
947                      Biography|Drama|Sport  ...                312.0
3769                                    Comedy  ...                133.0
2590                   Adventure|Comedy|Family  ...                 99.0
234            Action|Adventure|Fantasy|Sci-Fi  ...               3516.0
1802   Adventure|Family|Fantasy|Horror|Mystery  ...                208.0
2063                       Comedy|Family|Sport  ...                 83.0
354   Action|Adventure|Animation|Comedy|Family  ...                132.0
4428                              Drama|Sci-Fi  ...                199.0

     language  country  content_rating       budget  title_year  \
2754  English      USA               R   11000000.0      2001.0
1489  English   France               R   35000000.0      2002.0
947   English      USA           PG-13   50000000.0      2011.0
3769  English      USA               R    4500000.0      1984.0
2590  English      USA              PG   15000000.0      2002.0
234   English      USA              PG  115000000.0      2002.0
1802  English       UK              PG   25000000.0      1985.0
2063  English      USA              PG   22000000.0      2007.0
354   English      USA              PG   90000000.0      2009.0
4428  English      USA              GP    1000000.0      1972.0

     actor_2_facebook_likes imdb_score  aspect_ratio movie_facebook_likes
2754                  935.0        4.4          1.85                    0
1489                  298.0        6.3          1.85                  675
947                 18000.0        7.6          1.85                27000
3769                  760.0        6.7          1.85                    0
2590                  927.0        5.4          1.85                  896
234                 16000.0        6.7          1.78                    0
1802                  146.0        6.7          1.85                    0
2063                  941.0        6.2          2.35                    0
354                   256.0        7.0          1.85                    0
4428                  184.0        6.7          1.85                    0

[10 rows x 28 columns]