In [9]:
import pandas as pd

iris_df = pd.read_json(r'C:\Users\user\Downloads\Python\pythonhomeworks\lesson-16\homework\iris.json')

stats = iris_df.describe().loc[['mean', 'std']] 
median = iris_df.median(numeric_only=True)

print("Mean:\n", stats.loc['mean'])
print("\nMedian:\n", median)
print("\nStandard Deviation:\n", stats.loc['std'])

Mean:
 sepalLength    5.843333
sepalWidth     3.057333
petalLength    3.758000
petalWidth     1.199333
Name: mean, dtype: float64

Median:
 sepalLength    5.80
sepalWidth     3.00
petalLength    4.35
petalWidth     1.30
dtype: float64

Standard Deviation:
 sepalLength    0.828066
sepalWidth     0.435866
petalLength    1.765298
petalWidth     0.762238
Name: std, dtype: float64

In [10]:

import pandas as pd
titanic_df = pd.read_excel(r'C:\Users\user\Downloads\Python\pythonhomeworks\lesson-16\homework\titanic.xlsx')
age_min = titanic_df['Age'].min()
age_max = titanic_df['Age'].max()
age_sum = titanic_df['Age'].sum()

print("\nTitanic Age Statistics:")
print(f"Minimum Age: {age_min}")
print(f"Maximum Age: {age_max}")
print(f"Sum of Ages: {age_sum}")

Titanic Age Statistics:
Minimum Age: 0.42
Maximum Age: 80.0
Sum of Ages: 21205.17

In [11]:
movie_df = pd.read_csv(r'C:\Users\user\Downloads\Python\pythonhomeworks\lesson-16\homework\movie.csv')

director_likes = movie_df.groupby('director_name')['director_facebook_likes'].sum()
top_director = director_likes.idxmax()
top_likes = director_likes.max()

longest_movies = movie_df[['movie_title', 'director_name', 'duration']].nlargest(5, 'duration')

print("\nMovie Statistics:")
print(f"Director with most likes: {top_director} ({top_likes} likes)")
print("\n5 Longest Movies:")
print(longest_movies)

Movie Statistics:
Director with most likes: Steven Spielberg (364000.0 likes)

5 Longest Movies:
                   movie_title        director_name  duration
1694                   Trapped                  NaN     511.0
2436                    Carlos                  NaN     334.0
1487       Blood In, Blood Out      Taylor Hackford     330.0
1134             Heaven's Gate       Michael Cimino     325.0
3254  The Legend of Suriyothai  Chatrichalerm Yukol     300.0