In [4]:
#1 
import pandas as pd

titanic = pd.read_excel(r'C:\Users\user\Downloads\Python\pythonhomeworks\lesson-17\homework\titanic.xlsx')
titanic_grouped = titanic.groupby('Pclass').agg({
    'Age': 'mean',
    'Fare': 'sum',
    'PassengerId': 'count'
}).rename(columns={
    'Age': 'Average_Age',
    'Fare': 'Total_Fare',
    'PassengerId': 'Passenger_Count'
})

print(titanic_grouped)

        Average_Age  Total_Fare  Passenger_Count
Pclass
1         38.233441  18177.4125              216
2         29.877630   3801.8417              184
3         25.140620   6714.6951              491

In [ ]:
#2
movies = pd.read_csv('movie.csv')
movie_grouped = movies.groupby(['color', 'director_name']).agg({
    'num_critic_for_reviews': 'sum',
    'duration': 'mean'
}).rename(columns={
    'num_critic_for_reviews': 'Total_Reviews',
    'duration': 'Average_Duration'
})
print(movie_grouped)

                                    Total_Reviews  Average_Duration
color           director_name
Black and White Akira Kurosawa              153.0             202.0
                Aleksey German              121.0             177.0
                Alex Garland                489.0             108.0
                Alexander Payne             433.0             115.0
                Alfred Hitchcock            434.0             119.0
...                                           ...               ...
Color           Zoran Lisinac                17.0             108.0
                Álex de la Iglesia           71.0             104.0
                Émile Gaudreault             67.0              92.0
                Éric Tessier                  9.0              99.0
                Étienne Faure                 9.0              98.0

[2490 rows x 2 columns]